.banner-style {
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 0 100%);
  background-image: url("../assets/background-gradiant.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-style2 {
  background-image: url("../assets/background-gradiant.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantage-container {
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0 100%);
}

.footer-container {
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0 100%);
}

@media screen and (max-width: 576px) {
  .banner-style {
    clip-path: polygon(0% 0, 100% 0%, 100% 85%, 0 100%);
  }
  .advantage-container {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 100%);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-style {
    clip-path: polygon(0% 0, 100% 0%, 100% 80%, 0 100%);
  }

  .advantage-container {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 100%);
  }
}
